.floo*

/node_modules/*
*.graffle
bower_components
node_modules/*

/server/helpers/amazon-api-key.js
/server/helpers/bing-search-api-key.js
/server/helpers/weather-api-key.js
/server/helpers/twilio-api-key.js
/server/helpers/twitter-api-key.js
/server/helpers/tumblr-api-key.js

keys.sh
keys.js

*.log