.login {
    background: url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


div.col{  
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */ 
    border-radius: 10px; 

}  

div.description{  
    position:absolute; 
    bottom:20px; 
    left:7px; 
    
    width:85%;  
    /* styling bellow */  
    background-color:rgba(255,255,255,0.8); 
    font-family: 'tahoma';  
    font-size:9px; 
    line-height: 110%; 
    color:black;
    font-weight: bold;  
    /*border-radius: 8px;*/
    margin: 2px; 
    box-shadow: 0px 0px 4px rgba(100, 100, 100, 0.4);
} 

p.description_content{ 
    padding:2px;  
    margin:2px; 
    text-align: center; 
}

img {
  border-radius: 10px;
  box-shadow: 1px 1px 4px 0px rgba(10, 10, 10, .9);

}

.gift {
    width: 91%;
}

.giftPic {
    display:inline-block;
    height: 50px;
    width: auto;
}

.giftInfo {
    padding: 5px;
    display:inline-block;
    word-wrap: break-word;
    height: 50px;
    width: auto;
    vertical-align: top;
}

p { 
    word-break: break-all;
}

.social {
   margin-right: 5px;
}
