<ion-view view-title="Login" name="login-view" class="login">
  <ion-content class="padding" <ion-content class="login" scroll="false">
      <!--<div>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username" ng-required="true">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password" ng-required="true">
          </label>
      </div>-->
      <a href="http://localhost:3000/login" class="button button-block button-energized">Login with Google</a>
  </ion-content>







<!-- THE NAV BELOW IS FOR DEBUGGING FOR LOGIN PAGE-->
<!-- 
<ion-tabs class="tabs-icon-top tabs-color-active-positive"> -->
  <!-- Dashboard Tab -->
<!--   <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab> -->
  <!-- Chats Tab -->
<!--   <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> -->
  <!-- Account Tab -->
<!--   <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs> -->

<!-- -->


</ion-view>


<!-- 
$ionicLoading.show({template: "Loading Feed..."})

$scope.feed.loadFeed().then(function(){
  $ionicLoading.hide()


ui-sref -->