<ion-view view-title="Edit">
 
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ui-sref="tempTab.home({id: friend.userid})"> <i class="icon ion-home"></i></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
    <!-- Current Friend -->
      <ul class="friendHeader">
        <li class="friendInfo">
           <a class="item item-thumbnail-left" ui-sref="tab.posts({id: friend.id})">
            <img ng-src="{{friend.img}}"> 
            <h2>{{friend.name}}</h2> 
            <p>{{friend.email}}</p> 
            <p>{{friend.birthday}}</p> 
          </a>
        </li>
      </ul>
    <!-- Nav Bar -->
    <div class="button-bar">
      <a class="button" ui-sref="tab.posts({id: friend.id})">Posts</a>
      <a class="button" ui-sref="tab.events({id: friend.id})">Events</a>
      <a class="button" ui-sref="tab.gifts({id: friend.id})">Gifts</a>
    </div>
    <!-- Input -->
    </ion-list>

    <div class="list list-inset padding">
      <label class="item item-input item-stacked-label">
      <span class="input-label">Name</span>
        <input type="text" ng-model="friend.name">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" ng-model="friend.title">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Company</span>
        <input type="text" ng-model="friend.company">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" ng-model="friend.email">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Phone number</span>
        <input type="number" ng-model="friend.phone">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Date of Birth</span>
        <input type="date" ng-model="friend.birthday">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Interests</span>
        <input type="text" ng-model="friend.interests">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Image url</span>
        <input type="text" ng-model="friend.img">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <i class="icon ion-social-twitter-outline"></i><span class="input-label">&nbsp Twitter url</span>
        <input type="text" ng-model="friend.twitterUrl">
      </label>
      <br>
      <label class="item item item-input item-stacked-label">
        <i class="icon ion-social-instagram-outline"></i><span class="input-label">&nbsp Instagram url</span>
        <input type="text" ng-model="friend.instagramUrl">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <i class="icon ion-social-tumblr-outline"></i><span class="input-label">&nbsp Tumblr url</span>
        <input type="text" ng-model="friend.tumblrUrl">
      </label>

    <button class="button button-full button-positive" ng-click="submitForm()">Save Changes</button>

  </ion-content> 
</ion-view>

