<ion-view view-title="Gifts">
 
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ui-sref="tempTab.home({id: friend.userid})"> <i class="icon ion-home"></i></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ui-sref="edit({id: friend.id})"> <i class="icon ion-edit"></i>
    </button>
  </ion-nav-buttons>


  <ion-content>
    <ion-list>
      <ul class="friendHeader">
        <li class="friendInfo">
           <a class="item item-thumbnail-left" ui-sref="posts({id: friend.id})">
            <img ng-src="{{friend.img}}"> 
            <h2>{{friend.name}}</h2> 
            <p>{{friend.email}}</p> 
            <p>{{friend.birthday}}</p> 
          </a>
        </li>
      </ul>
  </ion-list>

    <div class="button-bar">
      <a class="button" ui-sref="posts({id: friend.id})">Posts</a>
      <a class="button" ui-sref="events({id: friend.id})">Events</a>
      <a class="button" ui-sref="gifts({id: friend.id})">Gifts</a>
    </div>
    
    <div class='client-container row' ng-controller='LinkController'>
    <div class="col-sm-12">
      <h4 class="feed-headline">Suggested Gifts:<h4>

          <ion-list>

      <!--     <div ng-style= "{'background-image':'url(/api/getImage?site='+ story.url + '&topic=' + story.topic + ')'}"> -->

            <ion-item class="gift item item-thumbnail-left" ng-repeat="item in gifts track by $index" class="col-sm-12 article">
                <a href="#" onclick="window.open('http://www.amazon.com', '_system', 'location=yes'); return false;">
                  <img ng-src="{{item.imageUrl}}"> 
                  <h2>{{item.title}}</h2> 
                  <p>{{item.type}}</p> 
                  <p>{{item.price}}</p>
                </a>
              </ion-item>
            
        </ion-list>





     <!--  <div class="row">
        <table>
          <tr ng-repeat="item in gifts track by $index" class="col-sm-12 article">
            <td>
              <a href="#" onclick="window.open('http://www.google.com', '_system', 'location=yes'); return false;">
                <img ng-src="{{item.imageUrl}}">
              </a>
            </td>
            <td class="article-description">
              {{item.title}}<br>
              {{item.type}}<br>
              {{item.price}}
            </td>
            </p>
          </tr>
        </table>
      </div>   -->


    </div>
  </div>



    <!-- <div class="row" ng-repeat="image in images" ng-if="$index % 3 === 0">
        <div class="col col-33" ng-if="$index < images.length">
            <img ng-src="{{images[$index].src}}" width="100%" />
        </div>
        <div class="col col-33" ng-if="$index + 1 < images.length">
            <img ng-src="{{images[$index + 1].src}}" width="100%" />
        </div>
        <div class="col col-33" ng-if="$index + 2 < images.length">
            <img ng-src="{{images[$index + 2].src}}" width="100%" />
        </div>
    </div> -->

  </ion-content>
    
</ion-view>
