<ion-view view-title="Account">
  <ion-content>
    <ion-list>
<!--     <ion-toggle  ng-model="settings.enableFriends">
        Enable Dogs
    </ion-toggle> -->
    <ul class="list">
        <li class="friendInfo">
           <a class="item item-thumbnail-left" href="#">
            <img ng-src="./img/adam.jpg">
            <h2>Namey McNamerson</h2>
            <p>Hack Reactor</p>
            <p>June 13th, 1991</p>
          </a>
        </li>
      </ul>
    </ion-list>
  </ion-content>

    <!-- <ion-content>  -->
	 <!--    <div class="tabs tabs-icon-top">
	      <a class="tab-item">
	        <i class="icon ion-edit"></i>
	        Edit
	      </a>
	      <a class="tab-item">
	        <i class="icon ion-ios-paper"></i>
	        Local News
	      </a>
	      <a class="tab-item">
	        <i class="icon ion-calendar"></i>
	        Events
	      </a>
	      <a class="tab-item">
	        <i class="icon ion-ios-heart"></i>
	        Gifts
	      </a>
	    </div> -->
   <!--   </ion-content>   -->




    
</ion-view>
