<ion-view view-title="Gifts">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="logout()"> Logout </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ul class="friendHeader">
        <li class="friendInfo">
           <a class="item item-thumbnail-left" href="#">
            <img ng-src="./img/gloria.jpg">
            <h2>Namey Namerson</h2>
            <p>Hack Reactor</p>
            <p>January 1st, 1991</p>
          </a>
        </li>
      </ul>
    </ion-list>

  <div class='client-container row'>
    <div class="col-sm-12">
      <h4 class="feed-headline">Suggested Gifts:<h4>
      <div class="row">
        <table>
          <tr ng-repeat="item in gifts track by $index" class="col-sm-12 article">
            <td>
              <a href="{{item.pageUrl}}" target="_blank" class="article-headline">
                <img ng-src="{{item.imageUrl}}">
              </a>
            </td>
            <td class="article-description">
              {{item.title}}<br>
              {{item.type}}<br>
              {{item.price}}
            </td>
            </p>
          </tr>
        </table>
      </div>  
    </div>
  </div>
    <!-- <div class="row" ng-repeat="image in images" ng-if="$index % 3 === 0">
        <div class="col col-33" ng-if="$index < images.length">
            <img ng-src="{{images[$index].src}}" width="100%" />
        </div>
        <div class="col col-33" ng-if="$index + 1 < images.length">
            <img ng-src="{{images[$index + 1].src}}" width="100%" />
        </div>
        <div class="col col-33" ng-if="$index + 2 < images.length">
            <img ng-src="{{images[$index + 2].src}}" width="100%" />
        </div>
    </div> -->

  </ion-content>
    
</ion-view>
