<ion-view view-title="Edit">
 
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ui-sref="home({id: friend.user_id})"> <i class="icon ion-home"></i></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
    <!-- Current Friend -->
      <ul class="friendHeader">
        <li class="friendInfo">
           <a class="item item-thumbnail-left" ui-sref="posts({id: friend.id})">
            <img ng-src="{{friend.image_url}}"> 
            <h2>{{friend.name}}</h2> 
            <p>{{friend.phone}}</p> 
            <p>{{friend.email}}</p> 
          </a>
        </li>
      </ul>
    <!-- Nav Bar -->
    <div class="button-bar">
      <a class="button" ui-sref="posts({id: friend.id})"><i class="icon ion-social-twitter-outline"></i></a>
      <a class="button" ui-sref="local({id: friend.id})"><i class="icon ion-ios-partlysunny-outline"></i></a>
      <a class="button" ui-sref="events({id: friend.id})"><i class="icon ion-ios-calendar-outline"></i></a>
      <a class="button" ui-sref="gifts({id: friend.id})"><i class="icon ion-ios-cart-outline"></i></a>
    </div>

    <!-- Input -->
    </ion-list>

    <div class="list list-inset padding">
      <label class="item item-input item-stacked-label">
      <span class="input-label">Name</span>
        <input type="text" ng-model="friend.name">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" ng-model="friend.email">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Phone</span>
        <input type="text" ng-model="friend.phone">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Birthday</span>
        <input type="date" ng-model="friend.birthday">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Zipcode</span>
        <input type="text" ng-model="friend.zipcode">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Interests</span>
        <input type="text" ng-model="friend.interests">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Image URL</span>
        <input type="text" ng-model="friend.image_url">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <i class="icon ion-social-twitter-outline"></i><span class="input-label">&nbsp; Twitter Username</span>
        <input type="text" ng-model="friend.twitter_username">
      </label>
      <br>
      <label class="item item item-input item-stacked-label">
        <i class="icon ion-social-instagram-outline"></i><span class="input-label">&nbsp; Instagram username</span>
        <input type="text" ng-model="friend.instagram_username">
      </label>
      <br>
      <label class="item item-input item-stacked-label">
        <i class="icon ion-social-tumblr-outline"></i><span class="input-label">&nbsp; Tumblr username</span>
        <input type="text" ng-model="friend.tumblr_username">
      </label>

    <button class="button button-full button-positive" ng-click="submitForm()">Save Changes</button>

  </ion-content> 
</ion-view>

