<ion-view view-title="Events">
 
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ui-sref="home({id: friend.user_id})"> <i class="icon ion-home"></i></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ui-sref="edit({id: friend.id})"> <i class="icon ion-edit"></i>
    </button>
</ion-nav-buttons>


  <ion-content>
    <ion-list>
    <!-- Current Friend -->
      <ul class="friendHeader">
        <li class="friendInfo">
           <a class="item item-thumbnail-left" ui-sref="posts({id: friend.id})">
            <img ng-src="{{friend.image_url}}"> 
            <h2>{{friend.name}}</h2> 
            <p>{{friend.phone}}</p> 
            <p>{{friend.email}}</p> 
          </a>
        </li>
      </ul>
    </ion-list>

  <div class="button-bar">
    <a class="button" ui-sref="posts({id: friend.id})"><i class="icon ion-social-twitter-outline"></i></a>
    <a class="button" ui-sref="local({id: friend.id})"><i class="icon ion-ios-partlysunny-outline"></i></a>
    <a class="button" ui-sref="events({id: friend.id})"><i class="icon ion-ios-calendar"></i></a>
    <a class="button" ui-sref="gifts({id: friend.id})"><i class="icon ion-ios-cart-outline"></i></a>
  </div>

  <h4 class="feed-headline"> Add Event </h4>

<!-- FORM NEEDS NG-CLICK FOR POST -->

<!--   <div class="item item-input-inset">
    <label class="item-input-wrapper social">
      <input type="text" placeholder="Event Name" ng-model="newEvent.name" required> 
    </label>
    <br>
    <label class="item-input-wrapper">
      <input type="datetime-local" placeholder="Date" ng-model="newEvent.date" required> 
    </label>
    <br>
    <button class="button button-small" ng-click="submitForm()" >
      Submit
    </button>
  </div>
  <div>

  </div> -->

  

  <div class="list list-inset" >
      <label class="item item-input">
          <input ng-model="newEvent.name" type="text" placeholder="Event Name" required ng-minlength="2" ng-maxlength="70">
      </label>
      <label class="item item-input">
          <input ng-model="newEvent.date" type="datetime-local" placeholder="Date and Time" required>
      </label>
  </div>
  <div class="padding">
    <button class="button button-small" ng-click="submitForm()" >
      Submit
    </button>
  </div>


  <!-- NEEDS NG REPEAT IN ION ITEM FOR DATA -->

  <ion-list show-delete="false" can-swipe="true">
    <ion-item ng-repeat="event in events">
    <h2>{{event.name}}</h2>
    <p>{{event.prettifiedDate}}</p>
    <ion-option-button class="button-assertive icon ion-trash-a" ng-click="destroyEvent($index)"></ion-option-button>
    </ion-item>
  </ion-list>

  </ion-content>
</ion-view>
