<ion-view view-title="Edit">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="logout()"> Logout </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ul class="friendHeader">
        <li class="friendInfo">
           <a class="item item-thumbnail-left" href="#">
            <img ng-src="./img/gloria.jpg">
            <h2>Namey Namerson</h2>
            <p>Hack Reactor</p>
            <p>January 1st, 1991</p>
          </a>
        </li>
      </ul>
    </ion-list>

  Hello world for Edit Page
  </ion-content>
    
</ion-view>
