<ion-tabs class="tabs-icon-top tabs-color-active-positive">




  <!-- Dashboard Tab -->
  <ion-tab title="Edit" icon-off="ion-edit" icon-on="ion-edit" href="#/tab/friends/1/edit">
    <ion-nav-view name="tab-edit"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Posts" icon-off="ion-social-twitter-outline" icon-on="ion-social-twitter" href="#/tab/friends/">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Events" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/events/">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Gifts" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/gifts/">
    <ion-nav-view name="tab-gifts"></ion-nav-view>
  </ion-tab>


</ion-tabs>
