<ion-tabs class="tabs-icon-top tabs-color-active-positive">




  <!-- Dashboard Tab -->
  <ion-tab title="Posts" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

<!--   <ion-tab title="Edit" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/edit">
    <ion-nav-view name="tab-edit"></ion-nav-view>
  </ion-tab> -->

<!--   <ion-tab title="Events" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab> -->

  <ion-tab title="Gifts" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/gifts">
    <ion-nav-view name="tab-gifts"></ion-nav-view>
  </ion-tab>


</ion-tabs>
