<ion-tabs class="tabs-icon-top tabs-color-active-positive">




  <!-- Dashboard Tab -->
  <ion-tab title="Login" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tempTab/login">
    <ion-nav-view name="login"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Home" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tempTab/home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Friend" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/friends">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
