<ion-tabs class="tabs-icon-top tabs-color-active-positive">




  <!-- Dashboard Tab -->
  <ion-tab title="Login" icon-off="ion-iphone" icon-on="ion-iphone" href="#/tempTab/login">
    <ion-nav-view name="login"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tempTab/home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Friend" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/users/1/friends/1/posts">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
